.git
.env
.env.*
node_modules
vendor
public/build
public/hot
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/testing/*
storage/framework/sessions/*
storage/framework/views/*
tests
docker-compose.yml
.phpunit.result.cache
npm-debug.log
yarn-error.log
